@use "./variables" as *;

.about {
    display: flex;
    padding-bottom: 2rem;
    .wrapper {
        display: flex;
        flex-direction: column;
        .aboutMeTitle {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .aboutMeContainer {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            .aboutMeTalk {
                display: flex;
                flex-direction: column;
                width: 60%;
                h3 {
                    color: $dark;
                    font-size: 2rem;
                    margin-bottom: 1rem;
                    border-radius: 50px;
                }
                span {
                    border-bottom: 2px solid $crimson;
                    font-weight: bold;
                }
            }
            .aboutMeGraphic {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    width: 100%;
                    height: 400px;
                    border-radius: 50%;
                    border: 5px solid $crimson;
                }
            }
        }
        .aboutMeDetails {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 150px;
            h5 {
                font-weight: bold;
                color: grey;
            }
        }
    }
} 

.aboutDark {
    color: $white;
    .aboutMeTitle h4 {
        background-color: $dark;
    }
    .aboutMeContainer .aboutMeTalk h3 {
        color: $white;
    } 
    .aboutMeDetails .aboutName  h5, .aboutMeDetails .aboutEmail h5, .aboutMeDetails .aboutFrom h5 {
        color: $white;
    }
    .about .wrapper .aboutMeContainer .aboutMeGraphic img {
        border: 5px solid white;
    }
}