@use "./variables" as *;

html {
    font-size: 125%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: $white;
    overflow-x: hidden;
}


.wrapper {
    margin: 0 auto;
    max-width: 1250px;
    width: 95%;
    overflow-x: hidden;
}

a {
    font-family: $PT;
    text-decoration: none;
    color: $dark;
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    background: $crimson;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: $white;
    padding: 1rem 2rem;

}

section {
    padding-top: 3rem;
}

.darkMode {
    background: $black;
    color: $white;
    .aboutMeTitle h4 {
        background-color: $dark;
    }
    .aboutMeDetails .aboutName  h5, .aboutMeDetails .aboutEmail h5, .aboutMeDetails .aboutFrom h5 {
        color: $white;
    }
    .aboutMeGraphic img {
        border: 5px solid $white;
    }
    .aboutMeTalk {
        #hi {
            color: $white;
        }
    }
    // transition: 0.3s ease-in-out;
}

