@use "./variables" as *;

html {
    font-size: 125%;
}

body {
    background: $white;
}

.wrapper {
    margin: 0 auto;
    max-width: 1250px;
    width: 95%;
}



a {
    font-family: $PT;
    text-decoration: none;
    color: $dark;
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    background: $crimson;
    border: none;
    cursor: pointer;
    outline: none;
    color: $white;
    padding: 1rem 2rem;
    
}

section {
    padding-top: 3rem;
}