@use "./variables" as *;

html {
    font-size: 125%;
}

body {
    background: $white;
}

.wrapper {
    margin: 0 auto;
    max-width: 1250px;
    width: 95%;
}

h1 {
    color: $dark;
}

h2 {
    color: black;
    height: 2rem;
}


a {
    text-decoration: none;
    color: $dark;
    cursor: pointer;
}

ul {
    list-style: none;
}