@use "./variables" as *;

.contact{
background: $crimson;
    .wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 6rem;
        .contactDetails {
            width: 35%;
            h3 {
                margin-top: 0;
                font-size: 2rem;
            }
            h4 {
                background: none;
                padding: 5px 0;
            }
            p {
                margin-top: 0;
                padding-bottom: 25px;
                color: $white;
            }
            .contactSocial {
                display: flex;
                padding: 0;
                li {
                    margin-right: 1rem;
                    font-size: 2rem;
                    a {
                        color: $white;
                        transition: all 0.2s ease-in-out;
                        &:hover {
                            color: $dark;
                        }
                    }
                }
            }
        }
        .contactFormContainer {
            width: 55%;
            h3 {
                margin-top: 0;
            }
            .contactForm {
                display: flex;
                flex-direction: column;
                margin-top: 0;
                label {
                    color: $white;
                }
                input, textarea {
                    background: none;
                    margin-bottom: 20px;
                    padding: 10px 0;
                    border: none;
                    border-bottom: 2px solid $white;
                    resize: none;
                    color: $white;
                }
                *:focus {
                    outline: none;
                }
                button {
                    background: $dark;
                    color: $white;
                    display: flex;
                    justify-content: center;
                    i {
                        margin-left: 1rem;
                        border: 2px solid $white;
                        border-radius: 50%;
                        padding: 3px;
                        font-size: 0.75rem;
                        
                    }
                    &:hover {
                        background: $white;
                        color: $crimson;
                        transition: all 0.2s ease-in-out;
                    }
                    &:focus {
                        background: $white;
                        color: $crimson;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}