@use "./variables" as *;

@media screen and (max-width: 1500px) {
	.wrapper {
		width: 90%;
	}
	header {
		.headerContainer {
			.headerText {
				h1 {
					font-size: 3rem;
				}
			}
		}
	}
}

@media screen and (max-width: 1250px) {
	header {
		.headerContainer {
			.headerText {
				h1 {
					font-size: 4rem;
				}
				h2 {
					font-size: 2rem;
				}
			}
		}
	}
	.projects {
		.wrapper {
			.projectContainer {
				.project1,
				.project2,
				.project3,
                .project4,
				.project5,
				.project6 {
					.projectDesc {
						.skillsUsed {
							flex-direction: column;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 960px) {
	
	header {
		.headerContainer {
			.headerImg {
				img {
					height: 300px;
				}
			}
		}
	}
	.about {
		.wrapper {
			.aboutMeContainer {
				.aboutMeGraphic {
					img {
						height: 300px;
					}
				}
			}

			.aboutMeDetails {
				gap: 75px;
			}
		}
	}
	.modal {
		width: 70%;
	}
}

@media screen and (max-width: 768px) {
    .navBar {
        .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    .navMenu {
        position: fixed;
        right: -100%;
        top: 0;
        gap: 0;
        width: 50%;
		height: 100%;
		margin: 0;
		padding: min(20vh, 2rem);
        flex-direction: column;
        justify-content: flex-start;
		align-items: flex-start;
        background: rgba(121, 38, 38, 0.1);
		backdrop-filter: blur(1rem);
        transition: 0.7s;
    }

    .navItem {
        margin: 16px 0;
		padding: 10px;
		border-left: 2px solid white;
		border-radius: 1px;
    }
	.navItem:nth-child(1) {
		display: block;
	}
    .navMenu.active {
        right: 0;
    }
	
    }
	header {
		height: 100%;
		padding: 100px 0;
		.headerContainer {
			flex-direction: column-reverse;
			.headerText {
				.headerBtns {
					justify-content: center;
				}
			}
			.headerImg {
				img {
					margin: 75px 0;
					height: 350px;
				}
			}
		}
		.arrow {
			display: none;
		}
	}

	.about {
		.wrapper {
			.aboutMeContainer {
				flex-direction: column;
				.aboutMeTalk {
					width: 70%;
					h3 {
						font-size: 1.75rem;
					}
				}
			}
			.aboutMeDetails {
				gap: 25px;
				justify-content: flex-start;
			}
		}
	}
	
	.contact {
		.wrapper {
			flex-direction: column;
			align-items: center;
			.contactDetails {
				width: 75%;
			}
			.contactFormContainer {
				width: 75%;
			}
		}
	}
	.projects {
		.wrapper {
			.projectContainer {
				.project1,
				.project2,
				.project3,
                .project4,
				.project5,
				.project6 {
					flex-direction: column;
					align-items: center;
					padding-right: 0;
					.projectDesc {
						align-items: center;
						p {
							text-align: center;
						}
					}
				}
			}
		}
	}
	.modal {
		width: 75%;
	}
}

@media screen and (max-width: 480px) {
	.navMenu {
		min-width: 75%;
	}
	header {
		height: 100%;
		padding: 100px 0;
		.headerContainer {
			.headerText {
				h1 {
					font-size: 2.25rem;
				}
				h2 {
					font-size: 1.25rem;
				}
				.headerBtns {
					flex-direction: column;
					align-items: center;
					gap: 1rem;
					.headerClearBtn {
						margin-left: 0;
					}
				}
			}
			.headerImg {
				margin: 70px 0 25px 0;
			}
		}
		.arrow {
			display: none;
		}
	}
	.about {
		.wrapper {
			.aboutMeContainer {
				flex-direction: column;
				.aboutMeTalk {
					width: 90%;
					h3 {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
    .techStack {
		gap: 1.5rem;
		width: 101%;
	}
	.projects {
		.wrapper {
			.projectContainer {
				.project1,
				.project2,
				.project3,
                .project4,
				.project5,
				.project6 {
					.projectImg {
						img {
							width: 100%;
							height: 200px;
							aspect-ratio: 16 / 9;
						}
					}
					.projectDesc {
						width: 90%;
					}
				}
			}
		}
	}
	.modal {
		h3 {
			font-size: 2rem;
		}
		height: 400px;

	}
}

@media (max-width: 360px){
	header {
		padding: 100px 0;
	}
	.about {
		width: 100%;
		.aboutMeTitle {
			margin-top: 0;
			h2 {
				font-size: 2rem;
			}
		}
		.aboutMeTalk h3 {
			font-size: 1.25rem;
		}
	}
	.projects {
		.wrapper {
			.projectContainer {
				.comingSoon{
					h2{
						font-size: 3rem;
					}
					p {
						text-align: center;
					}
					.dimmed {
						transform: blur(1);
					}
				}
				.project1,
				.project2,
				.project3,
                .project4,
				.project5,
				.project6 {
					.projectImg {
						img {
							width: 100%;
							height: 150px;
							aspect-ratio: 16 / 9;
						}
					}
					.projectDesc {
						width: 100%;
						.skillsUsed {
							ul {
								li {
									
									padding: 5px;
									
								}
							}
							.projectBtn {
								flex-direction: column;
								align-items: center;
								gap: 10px 0;
								button {
									width: 200px;
								}
							}
						}
					}
				}
			}
		}
	}
	.modal {
		width: 90%;
		height: 375px;
		h3 {
			font-size: 1.75rem;
		}
		p {
			font-size: 0.85rem;
		}
	}
}

@media (max-width: 330px) {
	
	header {
		.headerContainer {
			margin-top: 100px;
			.headerText {
				.headerBtns {
					flex-direction: column;
					align-items: center;
					.headerClearBtn {
						margin-left: 0;
						margin-top: 0.25rem;
					}
				}
			}
			// .headerImg {
			// 	img {
			// 		height: 225px;
			// 		margin: 40px 0;
			// 	}
			// }
		}
		.arrow {
			left: 47%;
		}
	}
	.about {
		.wrapper {
			.aboutMeContainer {
				.aboutMeTalk {
					width: 90%;
					h3 {
						font-size: 2.5rem;
						
						// text-align: center;
					}
				}
			}
			.aboutMeDetails {
				justify-content: flex-start;
				margin-top: 15px;
				h5, p {
					margin: 5px;
				}
			}
		}
	}
	.techStack {
		gap: 1.5rem;
		width: 95%;
	}
	.projects {
		.wrapper {
			.projectContainer {
				width: 95%;
                .project4, 
				.project1,
				.project2,
				.project3,
				.project5,
				.project6 {
					.projectImg {
						img {
							height: 150px;
						}
					}
					.projectDesc {
						width: 95%;
						.skillsUsed {
							.projectBtn {
								flex-direction: column;
								align-items: center;
								gap: 20px;
							}
						}
					}
				}
			}
		}
	}
}
