@use "./variables" as *;

.modal {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // transform: translate(-50%, -50%);
    height: 350px;
    width: 50%;
    background: $white;
    padding: 2rem;
    border-radius: 25px;
    z-index: 10;
    h3 {
        color: $dark;
        font-size: 3rem;
        margin: 10px 0;
    }
    .close-modal {
        font-size: 2rem;
        padding: 5px 15px;
        margin: 0;
        float: right;
        color: black;
        background-color: transparent;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    .btnContact {
        a {
            color: $white;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}