@use "./variables" as *;

.screenreaderText {
    display: none;
}

.navBar .wrapper {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
        .logoContainer {
            padding-top: 0.5rem;
            img {
                width: 2rem;
                vertical-align: middle;
            }
        }
        .navLinks {
            display: flex;
            li {
                margin-left: 2rem;
                a {
                    color: $white;
                    
                }
                &:hover {
                    border-bottom: solid 2px $white;
                    transition: all 0.2s ease-in-out;
                }
            }
        
    }
}