@use './variables' as *;

.projects {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		.projectContainer {
			margin: 2rem 0;
			display: flex;
			flex-direction: column;
			height: 100%;
			.project1,
			.project3,
			.project5,
			.project7 {
				display: flex;
				justify-content: space-between;
				gap: 3rem;
				padding-right: 50px;
				.projectImg {
					img {
						border: 5px solid $crimson;
						height: 250px;
						width: 100%;
						transition: all 0.2s ease-in-out;
						&:hover {
							border: 5px solid $dark;
							scale: 0.95;
							border-radius: 15px;
						}
					}
				}
				.projectDesc {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 55%;
					h3 {
						color: $crimson;
						text-transform: uppercase;
						font-weight: bold;
						margin: 0;
					}
					p {
						line-height: 1.25;
						margin: 0;
					}
					.skillsUsed {
						display: flex;
						justify-content: space-between;
						align-items: center;
						ul {
							display: flex;
							padding: 0;
							li {
								padding-right: 0.75rem;
								i {
									font-size: 1.5rem;
								}
							}
						}
						.projectBtn {
							li {
								a {
									button {
										border-radius: 5px;
										&:hover {
											background: $dark;
											color: $white;
										}
									}
								}
							}
						}
					}
				}
			}
			// .comingSoon {
			// 	display: flex;
			// 	flex-direction: column;
			// 	align-items: center;
			// 	justify-content: center;
			// 	z-index: 2;
			// }
			// .dimmed {
			// 	position: relative;
			// }
			// .dimmed:after {
			// 	content: '';
			// 	z-index: 10;
			// 	display: block;
			// 	position: absolute;
			// 	height: 100%;
			// 	top: 0;
			// 	right: 0;
			// 	left: 0;
			// 	background: rgba(211, 211, 211, 0.75);
			// }
			.project2,
			.project4,
			.project6 {
				display: flex;
				justify-content: space-between;
				flex-direction: row-reverse;
				gap: 3rem;
				padding: 50px 0 50px;
				.projectImg {
					img {
						border: 5px solid $crimson;
						height: 300px;
						width: 100%;
						transition: all 0.2s ease-in-out;
						&:hover {
							border: 5px solid $dark;
							scale: 0.95;
							border-radius: 15px;
						}
					}
				}
				.projectDesc {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 55%;
					text-align: right;
					h3 {
						color: $crimson;
						text-transform: uppercase;
						font-weight: bold;
						margin: 0;
					}
					p {
						line-height: 1.25;
						margin: 0;
					}
					.skillsUsed {
						display: flex;
						flex-direction: row-reverse;
						justify-content: space-between;
						align-items: center;
						ul {
							display: flex;
							padding: 0;
							li {
								padding-left: 0.75rem;
								i {
									font-size: 1.5rem;
								}
							}
						}
						.projectBtn {
							li {
								a {
									button {
										border-radius: 5px;
										&:hover {
											background: $dark;
											color: $white;
										}
									}
								}
							}
						}
					}
				}
			}
			.project3 {
				padding-bottom: 50px;
			}
		}
	}
}
.darkProjects {
	.projects {
		h4 {
			background-color: $dark;
		}
		h3 {
			color: $white;
		}
	}
}
