@use "./variables" as *;

html {
    font-family: $PT;
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 2.75rem;
    margin: 0;
    color: $white;
}

h2 {
    font-size: 4.75rem;
    margin: 0.5rem 0;
}

h3 {
    color: $white;
    font-weight: normal;
}

h4 {
    margin-bottom: 0.5rem;
    background-color: $crimson;
    padding: 0.5rem 2rem;
    color: $white;
}

p {
    line-height: 2rem;
}
